node_modules
npm-debug.log
dist
.git
.gitignore
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
*.md
.vscode
.idea
coverage
.nyc_output
.cache
.parcel-cache
.next
out
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-port
.vscode-test
*.sublime-workspace
*.sublime-project